:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* Inicializa los temas por defecto */
    color-scheme: light dark;
    --bg: #F9F7F7;
    --text-color: #112D4E;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #112D4E;
        --text-color: #F9F7F7;
    }
}

/* Se usa los colores del tema */
:root {
    background-color: var(--bg);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

[theme="dark"] {
    --bg: #112D4E;
    --text-color: #F9F7F7;
}

[theme="light"] {
    --bg: #F9F7F7;
    --text-color: #112D4E;
}

body {
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
}